[Unit]
Description=Brume client

[Service]
ExecStart=/bin/sh -c "/usr/local/bin/brume-client"
#StandardOutput=file:%h/brume-client.log

[Install]
WantedBy=default.target
