[Unit]
Description=Brume client

[Service]
ExecStart=/bin/sh -c "BRUME_SERVER=pi3.local:8080 /usr/local/bin/brume-client"
#StandardOutput=file:%h/brume-client.log

[Install]
WantedBy=default.target
